<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <h1>Dev Skills</h1>
    <%- include('../partials/nav') %>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>"><%= s.skill %></a>
                - 
                <%= s.proficiency %>
            </li>
        <% }); %>
    </ul>
</body>
</html>